.container
{
    width:80%;
    margin-right: 10%;
    margin-left: 10%;
    background:#FFF;
    border: 1px none;
    border-radius: 20px;
}

header
{
    direction: ltr;
    min-height:100px;
    background:green;
    overflow: hidden;
    border: 1px dotted #000;
    border-radius: 5px;
}

header .logo
{
    width: 30%;
    float: left;
}

header .logo img
{
    width: 100%;
    margin: 28px 0 20px 20px;
}

header nav
{
    width: 70%;
    float: right;

}

header nav ul
{
    margin-top: 15PX;
    margin-left: 100px; 
    padding: 0;
    list-style: none;
    font-weight: bold;
    font-family:cursive;
    font-size: 20px
}

#div1{
    text-decoration: none;
    color: #000;
}

header nav ul li :hover{
    opacity: .5;
    transition: .5s all;
    animation-iteration-count:infinite
}

header nav ul li
{
    display: inline-block;
    padding: 15px;
    margin: 0;
    text-decoration:none; 
}

header nav ul li img
{
    width: 35px;
    height: 35px;
    margin-bottom: -5px;
    margin-right: 8px;
}


.content
{
    min-height:500px;
    background:#fff;
    overflow: hidden;
  
}

.content .news
{
    width: 98%;
    min-height: 500px;
    background: #F7EED2;
    margin:1% 1% 1% 1%;
    border: 1px solid #C1AEAE;
    border-radius: 3px;
    overflow: hidden
}

.content .news ul
{
    float: left;
    list-style: none;
    width: 40%;
}

.content .news ul li
{
    display: inline-block;
    margin:5px;
}
.content .news ul img
{

    float: left;
    width: 100%;
    height: 60%;
    margin-left: 1%;
    border: 1px solid #C69F9F;
    border-radius: 4px;
    
}

.content .news .text
{
    width: 52%;
    float: right;
    direction: rtl;
    background: #FFFFFF;
    text-align: right;
    min-height: 550px;
    margin: 2% 1% 2% 1%;
    padding: 10px 10px 10px 10px;
    border: 1px solid #DDD0D0;
    border-radius: 15px;
}

.content .news .text h2
{
    margin-top: -1px;
    margin-right: 5px;
    color:green
}

.content .news .text span
{
    font-size: 20px;
    font-weight: bold;
    line-height: 200%;
    color: #161313
}

footer
{
    min-height:100px;
    background:#676767;
}

footer .info
{
    background: #b69897;
    direction: ltr;
    margin-bottom: 0px;
    overflow: hidden;
}

footer .info .part
{
    width: 33.333333%;
    font-size: 20px;
    font-family:cursive;
    color: #2B2828;
    float: left;
}

footer .info .part img
{
    width: 90%;
    margin-top:15%;
    margin-left: 10px
}

footer .info  ul
{
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
    list-style: none;
}

footer .info  ul li
{
    line-height: 150%;
    color: #2B2828;
}

footer .copyright
{
    background:#333;
    text-align:center;
    color:#fff;
    padding:20px;
    font-family: arial,tahoma;
    direction: ltr 
}