@import url("css/font.css");
.container
{
    width:80%;
    margin-right: 10%;
    margin-left: 10%;
    background:#FFF;
    border: 1px none;
    border-radius: 20px;
}

header
{
    direction: ltr;
    min-height:100px;
    background:#008000;
    overflow: hidden;
    border: 1px solid #006D00;
    border-radius: 5px;
}

header .logo
{
    width: 30%;
    float: left;
}

header .logo img
{
    width: 100%;
    margin: 28px 0 20px 20px;
}

header nav
{
    width: 70%;
    float: right;

}

header nav ul
{
    margin-top: 15PX;
    margin-left: 100px; 
    padding: 0;
    list-style: none;
    font-weight: bold;
    font-family:cursive;
    font-size: 20px
}

#div1{
    text-decoration: none;
    color: #000
}
header nav ul li:hover{
    opacity: .5;
    transition: .5s all;
    animation-iteration-count:infinite    
}

footer .info  ul li:hover{
    opacity: .5;
    transition: .5s all;
    animation-iteration-count:infinite
}

header nav ul li
{
    display: inline-block;
    padding: 15px;
    margin: 0;
    text-decoration:none; 
}

header nav ul li img
{
    width: 35px;
    height: 35px;
    margin-bottom: -5px;
    margin-right: 8px;
}


.content
{
    min-height:500px;
    background:#fff;
    overflow: hidden;
  
}

.content .sidebar
{
    float: left;
    width: 24%;
    direction: ltr;
    overflow: hidden;
}

.content .sidebar .widget
{

    background: #F7F2E1;
    border: 1px solid #DBD7CB;
    border-radius: 5px;
}

.content .sidebar .widget .title
{
    background: green;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    font-family:cursive
}


.content .sidebar .widget .data ul li img
{
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.content .sidebar .widget .data
{
    font-family:cursive;
    font-weight: bold;
    padding-right: 20px;
}

.content .sidebar .widget .data ul li
{
    margin-bottom: -3px;
}

.content .sidebar .widget .data ul li h3
{
    margin-top: -3px;
}

.content .sidebar .widget .social img
{
    width: 30px;
    height: 30px;
    padding: 5px;
    
}

.content .sidebar .widget ul
{
    list-style: none;
}


.content .sidebar .widget .social ul li
{
    display: inline-block;
}

.content .sidebar .widget .login form label
{
    font-weight: normal;
    font-family: tahoma;
    line-height: 150%  
}
.content .sidebar .widget .login form
{
    margin-left: 10px;
    
}
.content .sidebar .widget .login form textarea
{
    font-family: tahoma;
    max-width: 95%;
    max-height: 400px;
    min-width: 169px;
    margin-top: 10px;
}
.content .news
{
    float: right;
    width: 76%;
    background: #FFFFFF;
}

.content .news .hostnews
{

    height: 250px;
    border: 1px solid #DBD7CB;
    border-radius: 5px;
    margin: 0.5%;
    background: #F7F2E1;
    overflow: hidden

}

.content .news .hostnews img
{
    width: 40%;
    height: 90%;
    border: 1px;
    border-radius: 5px;
    margin: 1% 10px -180px 40px;

}

.content .news .hostnews .class
{

    width: 100%;
    direction: rtl;
    margin-top: -6%;
    margin-bottom: 2%;
    font-family: 'NotoNaskhArabicUI-Bold',serif;
    text-align: right;
    font-weight: bold;
    color: #EF0300;
    line-height: 150%;
    font-size: 20px

}
.content .news .hostnews .detiles
{
    
    width: 55%;
    margin-top: -10px;
    margin-right: 400px;
    font-style:normal;
    text-align:right;
    font-size: 15px;
    font-weight: bold;
    line-height: 200%;
}

footer
{
    min-height:100px;
    background:#676767;
}

footer .info
{
    background: #b69897;
    direction: ltr;
    margin-bottom: 0px;
    overflow: hidden;
}

footer .info .part
{
    width: 33.333333%;
    font-size: 20px;
    font-family:cursive;
    float: left;
}

footer .info .part img
{
    width: 90%;
    margin-top:15%;
    margin-left: 10px
}

footer .info  ul
{
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
    list-style: none;
}

footer .info  ul li
{
    line-height: 150%;
    color: #2B2828;
}
footer .copyright
{
    background:#333;
    text-align:center;
    color:#fff;
    padding:20px;
    font-family: arial,tahoma;
    direction: ltr 
}